{% extends "AppBundle:_template:default.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <div class="panel panel-primary">
        <div class="panel-body">
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                    <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.generateCsrfToken('authenticate') }}" />
                    <div class="form-group">
                        <label for="username">Логин / Лицевой счет</label>
                        <input type="text" class="form-control" id="username" name="_username" value="" required="required" />
                    </div>
                    <div class="form-group">
                        <label for="password">Пароль</label>
                        <input type="password" class="form-control" id="password" name="_password" required="required" />
                    </div>
                    <div class="form-group">
                        <div class="ui checkbox simple">
                            <input type="checkbox" tabindex="0" class="hidden" id="remember_me" name="_remember_me" value="on">
                            <label>Запомнить меня</label>
                        </div>
                    </div>
                    <div style="margin-bottom:15px;">
                        <a href="{{ url('fos_user_resetting_request') }}">Забыли пароль?</a>
                    </div>
                    <button class="btn btn-success" type="submit" id="auth_submit" name="_submit">Войти</button>
                </form>
        </div>
    </div>
</div>
{% endblock body %}
